<h2>Books</h2>
<div>
  @for (book of bookList(); track $index) {
    <button [disabled]="!book.bookEnabled" class="button" (click)="selectBook(book)" [class.contrast]="book === selectedBook">Book {{book.seriesNumber}}: {{book.title}}</button>
  }
</div>
@if (selectedBook !== undefined) {
  <h3>Chapters</h3>
  <ul>
    @for (chapter of selectedBook.chapters; track $index) {
      <li (click)="selectChapter(chapter)" [class.pico-color-pink-500]="chapter === selectedChapter">{{chapter.title}}</li>
    }
  </ul>
}
